body {
    font-family: 'Arial', sans-serif;
    background-color: rgb(222, 211, 190);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.container h1, label{
    color: red;
}

.container {
    text-align: center;
    /* background-color: #fff; */
    background-image: url('photo.jpg');
    background-size: cover;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
}

button:hover {
    background-color: #0056b3;
}

.output{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: yellow;
}
